<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name =" sqlconn" connectionString= "server=192.168.2.253;udi=as;pwd=Allen2013;database=Market"/>
	</connectionStrings>
		<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>